@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

header {
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10%;
    margin-top: -8px;
}

#sessao1 {
    padding-top: 40px;
}

#sessao2 {
}

#sessao3 {
    height: 600px;
}

#sessao4 {
    height: 600px;
}

#sessao5 {
    background-color: rgb(243, 243, 243);
    background-image: url('imagens/iphone-2.png');
    height: 700px;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center, top;
}

h1 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Josefin Sans', sans-serif;
}

#logo {
    transform: translate(2%, 27%);
}

#ipa {
    color: orangered;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
}

#tech {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vw;
    display: inline-block;
}

.menu a {
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1vw;
}

.menu a:hover {
    background-color: orangered;
    color: white;
    border-radius: 7px;
    transition-duration: 0.3s;
}

#menu1 {
    position: absolute;

    transform: translate(30%, -85%);
}

#menu2 {
    position: absolute;

    transform: translate(300%, -85%);
}



#sessao1 p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 100px;
    margin-bottom: 1px;
}

ul {
    text-align: center;
    background-color: orangered;
    padding: 10px;
    font-weight: bolder;
    color: white;
}

ul li {
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    padding: 10px;
}

#sessao1 > h1 {
    padding-bottom: auto;
}

#ofertas {
    display: inline-block;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

#ofertas img:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.caixadesom {
    width: 10vw;
    height: 15vh;
    padding: 5px;
    border-radius: 15px;
}

.smartwatch {
    width: 10vw;
    height: 15vh;
    padding: 5px;
    border-radius: 15px;
}

.fonedeouvido {
    width: 10vw;
    height: 15vh;
    padding: 5px;
    border-radius: 15px;
}

#sessao5 > h1 {
    font-size: 2.5vw;
    font-family: 'Prompt', sans-serif;
    padding-top: 50px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}

footer {
    background-color: orangered;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}